body 
	{
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}

h1 
	{
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	}

header 
	{
	padding: 10px;
	background-color: #080808;
	margin-bottom: 20px;
	color: white;
	height: 30px;
	}

main 
	{
	text-align: center;
	}

.Titre 
	{
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}

.img 
	{
	text-align: center;
	}

.btn 
	{
	height: 40px;
	width: 200px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: white;
	border-radius: 20px;
	border: 2px solid #A2D9CE;
	}

.btn:hover 
	{
	background-color: #A2D9CE;
	}

td 
	{
	padding-left: 10px;
	padding-right: 10px;
	}

tr 
	{
	background-color: #e0ffff;
	}

table 
	{
	margin: auto;
	}

.droite 
	{
	text-align: right;
	}

input 
	{
	width: 340px;
	padding: 0px;
	margin: 2px;
	font-size: 20px;
	}

input[type=submit], input[type=reset] 
	{
	background-color: white;
	width: 348px;
	padding: 4px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 20px;
	border: 2px solid darkblue;
	}

input[type=submit]:hover, input[type=reset]:hover 
	{
	background-color: darkblue;
	color: white;
	}

select 
	{
	border: 2px solid darkblue;
	width: 500px;
	padding: 5px;
	border-radius: 4px;
	font-size: 20px;
	}

.ligne 
	{
	width: 200px;
	}